<!DOCTYPE html>
<html>
<head>
<title> SCHOOL</title>
<link rel="stylesheet" href="../static/reg-form.css">

</head>
<body>
<form>

    <div class="form">

<input type="text" required>
<label for="">search</label>

<!---
<div class="common">
<input type="text" required>
<label for="" >age</label></div> 

<div class="common">
<input type="text" required>
<label for="">nationality</label></div>

<div class="common">
<input type="text" required>
<label for="">state</label></div>
-->
<div class="common">
<input type="text" required>
<label for="">resdential</label></div>

<div class="common">
<input type="text" required>
<label for="">pincode</label>      
</div>

<div class="common">
<input type="text" required>
<label for="">aadhar no:</label>      
</div>
</div>

</form>
</body>  
</html>